<div class="dashboard">
	<div class="profile">
		<%= render 'home/shared/profile' if user_signed_in?%>
	</div>
	<div class="home-content">
		<%= render 'home/shared/slider', slider_last: @slider_last, slider: @slider  %>
		<% @user_posts.each do |user_post|%>
			<div class="block-post">
				<div class="user-post d-flex justify-content-between align-items-center">
					<div class="avata d-flex justify-content-start align-items-center">
						<% if user_post.user.avata.attached? %>
							<%= image_tag resize_image(user_post.user.avata, '50x50')%>
						<% else %>
							<img src="/assets/null-avata.png" alt="profileImg">
						<% end %>
						<p><%= user_post.user.full_name || user_post.user.email %></p>
					</div>
					<p><%= time_ago_in_words(user_post.created_at)%></p>
				</div>
				<div class="content-post">
					<p class="title"><%= user_post.post&.title%></p>
					<p class="content"><%= user_post.post&.content%></p>
					<div class="image image_<%= user_post.post&.images.size%>">
						<% user_post.post&.images&.each_with_index do |image, index|%>
							<% if isShowImage(image) %>
									<%= image_tag resize_image(image, '50x50'), class: "img_" + (index+1).to_s %>
								<% else %>
									<%= video_tag url_for(image), control: true, size: '250x250' %>
								<% end %>
						<% end %>
					</div>
				</div>
				<div class="comment">
					<div class="count-likes-comments d-flex justify-content-start align-items-center">
						<p><span class="like_<%= user_post&.id%>"><%= count_liked(user_post&.likeds) %></span> Like(s)</p>
						<p><%= user_post&.comments.size %> Comment(s)</p>
					</div>
					<div class="icon-action d-flex justify-content-start align-items-center">
						<p class="pointer like_post like_post_<%=user_post.id%> <%= active_liked(user_post&.likeds, current_user&.id) %>" data-user_id="<%= current_user&.id %>" data-user_post_id="<%=user_post.id%>"><i class="far fa-thumbs-up"></i> like</p>
						<p class="pointer"><i class="far fa-comment"></i> Comment</p>
					</div>
					<div class="avata-comment d-flex justify-content-start align-items-center">
							<% if current_user&.avata&.attached? %>
								<%= image_tag resize_image(current_user.avata, '50x50')%>
							<% else %>
								<img src="/assets/null-avata.png" alt="profileImg">
							<% end %>
						<textarea type="text" class="form-control autosize comment_post_<%= user_post.id %>" rows="1"></textarea>
						<input type="button" class="btn-post form-control"  data-user_id="<%= current_user&.id %>"  data-user_post_id="<%= user_post.id %>" value="Post">
					</div>
					<div class="show-comments show-comments_<%= user_post.id %> scroller">
						<% user_post&.comments.each do |comment| %>
							<div class="item-comment">
								<div class="d-flex justify-content-start align-items-center gap-20">
									<div class="d-flex justify-content-start align-items-center gap-20">
											<% if comment.user.avata.attached? %>
												<%= image_tag resize_image(comment.user.avata, '50x50')%>
											<% else %>
												<img src="/assets/null-avata.png" alt="profileImg">
											<% end %>
										<%= comment.user&.full_name%>
									</div>
										<%= comment.body%>
								</div>
								<p class="time-comment">Like | <%= time_ago_in_words(comment.created_at) %></p>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		<% end %>
		<%
=begin%>
 <div class="post-placeholder hidden"><%= render '/placeholder/post_placeholder'%></div> 
<%
=end%>
	</div> 
	<div class="event">
		<%= render 'home/shared/event', events: @events if user_signed_in?%>
	</div>
</div>

<div class="modal fade" id="changeAvatar" tabindex="-1" aria-labelledby="changeAvatarLabel" aria-hidden="true">
	<%= form_tag "/users/#{current_user&.id}", :method => :put, multipart: true, :id => 'timecode_employee' do %>
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h5 class="modal-title" id="changeAvatarLabel">Change Avatar</h5>
        </div>
        <div class="modal-body">
          <%= file_field '', "user[avata]", multiple: false %>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= submit_tag "Save", class:"btn btn-primary"%>
        </div>
        </div>
    </div>
  <% end %>
</div>