<%= form_with(model: room, local: true) do |form| %>
  <% if notice.present? || alert.present? %>
     <div class="alert <%= alert.present? ? 'alert-success' : 'alert-danger' %> text-center">
        <% if notice.present? %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <% if alert.present? %>
          <p class="alert"><%= alert %></p>
        <% end %>
      </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name, class: "form-control mt-3", placeholder: "Room name" %>
  </div>

  <div class="actions mt-3">
    <%= form.submit "Add room", class: "btn btn-primary btn-block" %>
  </div>
<% end %>
