<div class="container-fluid chat">
  <div class="row">
    <div class="col-sm-3">
      <%= render 'form', room: Room.new %>
      <hr>
      <% @rooms.each do |room| %>
        <div class="position-relative">
          <%= link_to room, class: "room-link" do %>
            <% active_class = (@room == room) ? 'active' : '' %>
            <div class="card <%= active_class %>">
              <div class="card-body">
                <p class="room"><%= room.name %></p>
                <small><%= room.users.uniq.count%> Members</small>
              </div>
            </div>
          <% end %>
          <div class="dots-menu" data-room-id="<%= room.id%>"></div>
          <ul class="chose chose-<%= room.id %>">
              <li>Edit</li>
              <li>Delete</li>
            </ul>
        </div>
      <% end %>
    </div>
    <div class="col-sm-9">
      <div class="chat-room">
        <% if @room.present? %>
          <div class="header d-flex justify-content-between align-items-center">
            <p class="room-name" data-room_id="<%= @room.id %>" data-current_user_id="<%= current_user.id %>" data><%= @room.name %></p>
            <p><%= current_user.full_name%></p>
          </div>
          <div class="message-list">
            <% @room.messages.each do |message| %>
              <%= render 'messages/message', message: message %>
            <% end %>
          </div>
          <div class="chat-box">
            <%= render 'messages/form', message: Message.new, room: @room %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
